{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
            </div>

            <div class="col-md-4">
            <br><br>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                        </div>
                    {% endif %}

                    <center><h1 class="h3 mb-3 font-weight-normal">Formulaire d'authentification</h1></center>
                    <center><label for="inputUsername">Nom d'utilisateur</label><br></center>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus><br>
                    <center><label for="inputPassword">Mot de passe</label><br></center>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <center><button class="btn btn-success" type="submit">
                        Connexion
                    </button></center><br>
                </form>
            </div>

            <div class="col-md-4">
            </div>

        </div>
    </div>
    
{% endblock %}
