{% extends 'base.html.twig' %}

{% block body %}

<center>
    <br>
    <h2>Détail de la formation {{formation.nomCourt}}</h2>
    <br>

    <div class="row">

		<div class="col-md-4">
		</div>

        <!--Affichage du détail d'une formation-->
                <div class="col-md-4">
                    <div class="card border-success mb-3" style="max-width: 20rem;">
                        <div class="card-header">Formation n°{{formation.id}}</div>
                            <div class="card-body">
                                <h4 class="card-title">{{formation.nomCourt}}</h4>
                                    <p class="card-text">{{formation.nomLong}}</p>
                                    <p class="card-text">Formation disponible au sein de l'IUT de Bayonne</p>
                                    
                                    {% if is_granted('ROLE_ADMIN') %}
                                    
                                    <div class="row">

                                        <div class="col-md-4">
                                            <center>
                                                <a href="{{path('formation_edit',{id:formation.id})}}" class="link-success">Editer formation</a>
                                            </center>
                                        </div>
                                        
                                        <div class="col-md-4">
                                        </div>

                                        <div class="col-md-4">
                                            <center>
                                                <a href="{{path('formation_delete',{id:formation.id})}}" class="link-success">Supprimer formation</a>
                                            </center>
                                        </div>

                                    </div>

                                    {% endif %}
                    </div>
                </div>
		
        <div class="col-md-4">
		</div>
    
</center>

{% endblock %}