{% extends 'base.html.twig' %}

{% block body %}

<center>

    <br>
    <h1>Vous êtes sur le stage numéro {{idStage}}</h1>
    <br>
</center>   
 
 {% for stage in stages %}
    <div class="container-fluid">
        <div class="col-md-12">
                        <div class="card border-success mb-3">
                            <div class="card-header">Stage n°{{idStage}}</div>
                                <div class="card-body">
                                    <h4 class="card-title">Titre : {{stage.titre}}</h4>
                                        <p class="card-text"><h5><b>Formation(s) concernée(s) :
                                                                    {% for uneFormation in stage.formations %}
                                                                        {% if loop.last %}
                                                                            {{uneFormation.nomCourt}} ({{uneFormation.nomLong}}).
                                                                        {% else %}
                                                                            {{uneFormation.nomCourt}} ({{uneFormation.nomLong}}), 
                                                                        {% endif %}
                                                                    {% endfor %}    
                                                                </b>
                                                            </h5>
                                                             <b>Description du stage :</b> {{stage.descMissions}} <br>
                                                             <b>Entreprise proposant le stage :</b> {{stage.entreprise.nom}} <br>
                                                             <b>Adresse de l'entreprise :</b> {{stage.entreprise.adresse}} <br>
                                                             <b>Contact de l'entreprise :</b> {{stage.emailContact}} <br>
                                                             <b>Lien vers le site de l'entreprise :</b> <a href="{{stage.entreprise.URLsite}}" class="link-success"> {{stage.entreprise.URLsite}}</a><br>
                                        </p>
                                </div>
                        </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
