{% extends 'base.html.twig' %}

{% block body %}

<center>

    <br>
    <h1>Vous êtes sur la page des stages proposés par l'entreprise {{stageParEntreprise.id}}</h1>
    <br>
</center>   
 
    <div class="container-fluid">
      <table class="table table-striped">
        
        <!--Définition du contenu de mon tableau-->
        <thead>
          <tr>
            <th>Titre</th>
            <th>Entreprise</th>
            <th>Description</th>
            <th>Email</th>
			      <th>Adresse</th>
          </tr>
        </thead>

        <!--Inscription de mes données dans le tableau-->
        <tbody>
          
          {% for unStage in stageParEntreprise.stages %}
          
          <tr>
            <td style="padding-left: 20px"><a href="{{path('prostages_stages',{id:unStage.id})}}" class="link-success">{{unStage.titre}}</a></td>
            <td style="padding-left: 20px">{{unStage.entreprise.nom}}</td>
            <td style="padding-left: 20px">{{unStage.descMissions}}</td>
            <td style="padding-left: 20px">{{unStage.emailContact}}</td>
			      <td style="padding-left: 20px">{{unStage.entreprise.adresse}}</td>
          </tr>

          {% endfor %}
          </tbody>
      
      </table>


{% endblock %}