<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/logo_prostages.png">
		<!-- BLOCK DU TITRE -->
        {% block title %}
			<title>ProStages</title>
			<div class="row">

			<div class="col-md-4">
			</div>

				<div class="col-md-4">
					<center>
						<a href="{{path('prostages_accueil')}}">
							<img src="/img/logo_prostages.png" height=200 weight=200>
						</a>
						<br>
					</center>
				</div>

			{% if app.user %}
			<div class="col-md-4">
			<center>
			<br>
			<br>
				<a href="{{path('app_logout')}}"><button class="btn btn-success">
                        Deconnexion
                </button></a>
			</center>
			</div>
			{% else %}
			<div class="col-md-4">
			<center>
			<br><br>
				<a href="{{path('app_login')}}"><button class="btn btn-success">
                        Connexion
                </button></a>
			<br><br>
			<a href="{{path('prostages_ajout_utilisateur')}}"><button class="btn btn-success">
                        Créer un compte
                </button></a>
			</center>
			</div>
			{% endif %}
				
			</div>

			<br>
			
			<div class="row">

				<div class="col-md-4">
					<center>
						<a href="{{path('prostages_formations')}}"><button class="btn btn-success">Trier par formation</button></a>
					</center>
				</div>

				<div class="col-md-4">
					
				</div>

				<div class="col-md-4">
					<center>
						<a href="{{path('prostages_entreprises')}}"><button class="btn btn-success">Trier par entreprise</button></a>
					</center>
				</div>

				</div>


		{% endblock %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		

    </head>
    <body>
		
		{% block menu %}	
        {% endblock %}

		<!-- BLOCK DES FEUILLES DE STYLE -->


		{% block body %}
		{% endblock %}

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
			<link href={{asset('css/fontello.css')}} rel="stylesheet">
		{% endblock %}

		<!-- BLOCK DES SCRIPTS JAVASCRIPT -->
		{% block javascripts %}
			<script src="{{ asset('/js/bootstrap.bundle.min.js') }}"></script>
		{% endblock %}

		{% block footer %}

		<div class="row">
			
			<div class="copyright col-md-2">
				<p><center><i class="icon-copyright"></i> Jules Royet</center></p>
			</div>

			<div class="formation col-md-2 offset-md-3">
				<p><center><i class="icon-laptop"></i> DUT Informatique</center></p>
			</div>

			<div class="annee col-md-2 offset-md-3">
				<p><center><i class="icon-book"></i> 2022</center></p>
			</div>
			
		</div>

		{% endblock %}

    </body>
</html>
